/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
/*home*/
.home_page{
    background-image:url("img/home2.jpg");
    /*background-size:380px 700px;*/
    background-size: 119%;
}
#home, #signup, #email{
    position:relative;
    top:200px;
}
#login{
    position:relative;
    top:600px;
    left:3px;
}
#signin{
    position:relative;
    top:180px;
    height:0px;
    left:7px;
    text-align:Center;
    color:white;
    border-style:none;
    background-color:transparent
}
#home_page, h2{
    font-family: 'Capriola', cursive;
    font-size: 40px;
    color: #8BC34A;
    position:relative;
    top: 170px;
    left:80px;
    color:white;
}

.quote{
    position:relative;
    top:170px;
    width:250px;
    height:110px;
    left:80px;
}

#home_page, .h_line{
    position:relative;
    top:160px;
    width:65%;
    left:75px;
    height:1px;
    background: white ;
    }
#setGoal{
    top:25%;
    left:25%;
    width: 200px;
    color:white;
    text-align:center;
    border-radius: 50%;
    border:double;
    height:200px;
    background-color:transparent;
    font-size:25px;
    
    font-family: 'Gloria Hallelujah', cursive;
}

#setGoal:active{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/*goal view*/
#orange_layer{
    background-color: rgba(0, 0, 0, 0.5);
     box-shadow: 0px 0px 15px #999;
     height:600px;
     width:350px;
     margin:15px;
     border-radius:10px;
}
#goal_layer{
    
    height:100%;
    width:100%;    
}
.goal h3{
  position:relative;
  top:px; 
  color:black; 
}

.goal{
    background-image: url("img/goal.jpg");
   
}
.goal h3{
    position:relative;
    left:100px;
    top:30px;
    color: white;
    font-size:40px;
    font-family: 'Capriola', cursive;
    margin:10px;

}
.goal h4{
    position:relative;
    left:10px;
    top:20px;
    color: white;
    font-size:20px;
    font-family: 'Capriola', cursive;
    margin:10px;
    text-align: center;

}
.goal_input{
    position:relative;
    top:80px;
    width:400px;
    left:0px;
    color:white;
    font-family: 'Capriola', cursive;
}
.goal_input input{
    border:none;
    font-family:'Capriola', cursive;
    font-weight:bold;
}

#goal_string {
    margin-bottom: 17px;
    width: 200px;
    padding-left: 10px; 
}

#goal_date {
    width: 200px;
}
input#goal_input{
    position:relative;
    width:50px;
    margin-left:20px;
    background-color:transparent;
    margin-bottom:10px;
}
input#birthday{
    width:50px;
    margin-left:10px;
    background-color:transparent;
    margin-bottom:10px;
}

#birthday{
    position:relative;
    top: -10px;
    left:-120px;
    float:right;
    background-color:transparent
}
#square_layer{

    position:relative;
    top:40px;
    background-color:rgba(248, 247, 216, 0.3);
    height:200px;
    width:300px;
    left:30px;
    text-align:center;
   
    border-radius:30px;
    box-shadow: 0px 0px 15px #888;
    background-color: rgba(0, 0, 0, 0.5);
    padding:5px;
    padding-left: 50px;
    font-size:20px;
}

.goal_input{
    position: relative;
    top:0px;
    width: 200px;

}
.goal_input #goal_submit{
    position:relative;
    top:180px;
    text-align:center;
    background-color:transparent;
    border-style: dotted;
    left:0px;
    width: 230px;
    border-radius: 50%;
    height:230px;
    font-size:25px;
    color:black;
    background-color:white;
}
#goal_weight{
  background-color:rgba(248, 247, 216, 0.3);
   color:white;
   position:relative;
   top:-3px;
   left:10px;
   margin-top: 50px;

}
#goalweight_submit{
    position:relative;
    top:220px;
    text-align:center;
    background-color:transparent;
    border-style: dotted;
    left:-10px;
    width: 230px;
    border-radius: 50%;
    height:230px;
    font-size:25px;
    color:black;
    background-color:white;
    
}
/*goal view*/

/******/
/******/
/*****stats*****/
#stats_layer{
    
    height:100%;
    width:100%;
    
}
.stats h3{
  position:relative;
  top:px; 
  color:black; 
}

.stats{
    background-image: url("img/stats5.jpg");
   
}
#berry_layer{
     background-color: rgba(0, 0, 0, 0.5);
     box-shadow: 0px 0px 15px #999;
     height:600px;
     width:350px;
     margin:15px;
     border-radius:10px;

}
.stats h3{
    position:relative;
   
    top:30px;
    color: white;
    font-size:40px;
    font-family: 'Capriola', cursive;
    margin:10px;
    text-align: center;



}
.stats h4{
    position:relative;
    left:10px;
    top:20px;
    color: white;
    font-size:20px;
    font-family: 'Capriola', cursive;
    margin:10px;
    text-align: center;
    

}
.status_input{
    position:relative;
    top:80px;
    width:400px;
    left:0px;
    color:white;
    font-family: 'Capriola', cursive;
}
.status_input input{
    border:none;
    color:white;
    font-family:'Capriola', cursive;
    font-weight:bold;
}
input#curr_weight{
    position:relative;
    width:50px;
    top:-3px;
    margin-left:20px;
    background-color:rgba(248, 247, 216, 0.3);
    margin-bottom:10px;
    margin-left: 0px;
    margin-right: 7px;
}
input#ft,#inches{
    position:relative;
    width:50px;
    margin-left:10px;
    top:-3px;
    background-color:rgba(248, 247, 216, 0.3);
    margin-bottom:10px;
    margin-left: 0px;
    margin-right: 7px;
}
#male_button{
    margin-left:5px;
    margin-bottom:10px;
}
#female_button{
    margin-left:55px;
    margin-bottom:15px;
}
input#birthday{
    position:relative;
    top: -px;
    background-color:rgba(248, 247, 216, 0.3);
    left:-120px;
    float:right;
    width:160px;
    
}

#input_layer{

    position:relative;
    top:40px;
    background-color:rgba(248, 247, 216, 0.3);
    height:200px;
    width:300px;
    left:30px;
    border-radius:30px;
    box-shadow: 0px 0px 15px #888;
    background-color: rgba(0, 0, 0, 0.5);
    padding:5px;
    font-size:20px;
}
.status_input, .simple-form{
    position: relative;
    top: 20px;
}
.status_input #status_submit{
    position:relative;
    top:140px;
    left:40px;
    text-align:center;
    color:black;
    background-color:white;
    border-style: dashed;
}
/********weight and activity**************/
#getGoalWeight{
    position:relative;
    top:100px;
    font-size:25px;
    font-family: 'Capriola', cursive;
}


.weight_activity{
   background-image: url("img/activity.jpg");
   background-size:1100px;
   color:white;
}
#weight_title{
    position:relative;
    top:40px;
    font-size:35px;
    font-family: 'Capriola', cursive;
}
#weight_range{
    position:relative;
    top:40px;
    font-size:30px;
}
.weight_activity label{
    position:relative;
    top:80px;
    font-size:30px; 
}
.weight_activity h3{
    position:relative;
    left:0px;
    top:30px;
    color: white;
    font-size:40px;
    font-family: 'Capriola', cursive;
    margin:10px;
}
.weight_activity h4{
    position:relative;
    left:10px;
    top:20px;
    color: white;
    font-size:20px;
    font-family: 'Capriola', cursive;
    margin:10px;

}
input{
    border:none;
}

/******Calorie Budget**********/
.Budget{
  background-image: url("img/summary.jpg");


}
.Budget h3{
    position:relative;
    left:0px;
    top:30px;
    color: white;
    font-size:40px;
    font-family: 'Capriola', cursive;
    margin:10px;
    text-align:center;
}
.Budget h4{
    position:relative;
    left:10px;
    top:20px;
    color: white;
    font-size:20px;
    font-family: 'Capriola', cursive;
    margin:10px;
    text-align:center;

}
#calorie1_layer{

    position:relative;
    top:40px;
    background-color:rgba(248, 247, 216, 0.3);
    height:200px;
    width:300px;
    left:30px;
    border-radius:30px;
    box-shadow: 0px 0px 15px #888;
    background-color: rgba(0, 0, 0, 0.5);
    padding:5px;
    font-size:20px;
}
#set_calorie{
    position:relative;
    top:50px;
    width:250px;
}
.Budget #title{
    position:relative;
    top:40px;
    font-size:35px;
    width:360px;
    left:3px;
    color:white;
    font-family: 'Capriola', cursive;

}
.Budget #summary{
    position:relative;
    top:25px;
    font-size:30px;
    color:white;
}
.item.range{
    position:relative;
    top:0px;
    left:-3px;
    height:100px;
    width:300px;
    border:none;
    background-color:transparent;
}
#last_submit{
  
    position:relative;
    top:240px;
    text-align:center;
    background-color:transparent;
    border-style: dotted;
    left:20px;
    width: 230px;
    border-radius: 50%;
    height:230px;
    font-size:25px;
    color:black;
    background-color:white;

}
/***********Signup*************/
#username{
    position:relative;
    top:-25px;
    left:100px;
    font-family:'Capriola', cursive;
    
}
#email{
    position:relative;
    top:-25px;
    left:100px;
    font-family:'Capriola', cursive;

}
#password{
    position:relative;
    top:-25px;
    left:100px;
    font-family:'Capriola', cursive;

}
.signupForm #title{
    position:relative;
    top:-20px;
    left:-30px;
    font-size:35px;
    width:400px;
    font-family: 'Capriola', cursive;
    background-color:#558B2F;
    height:80px;
    border:20px solid #558B2F;
    color:white;
}
.signupForm #quote{
    position:relative;
    top:-40px;
    font-size:25px;
    width:400px;
    left:-20px;
    font-family: 'Gloria Hallelujah', cursive;
    background-color:#558B2F;
    color:white;
    padding:25px;
    height:120px;


}
.name{
    position:relative;
    top:200px;
    left:100px;
}
.signupForm div label{
    position:relative;
    border:none;
    left:5px;
    font-family:'Capriola', cursive;
}
.signupForm #register{
     position:relative;
    background-color:#558B2F;
    top:50px;
    left:80px;
    width: 230px;
    height:230px;
    border-radius: 50%;
    border:none;
    font-size: 40px;
    font-family: 'Gloria Hallelujah', cursive;
    color:white;
}
.signupForm h3{
    position:relative;
    left:0px;
    top:30px;
    color: white;
    font-size:40px;
    font-family: 'Capriola', cursive;
    margin:10px;
    text-align:center;
}
.signupForm h4{
    position:relative;
    left:10px;
    top:20px;
    color: white;
    font-size:20px;
    font-family: 'Capriola', cursive;
    margin:10px;
    text-align:center;
}
/*gender view*/
#male{
    position:relative;
    top:100px;
    left:70px;
    width:100px;
}
#female{
    position:relative;
    top:100px;
    left:80px;
    width:100px;
}
.gender{
    position:relative;
    top:80px;
    left:160px;
}
#age{
    position:relative;
    top: 150px;
    left:120px;
}
#age label{
    position:relative;
    top:5px;
    left:-100px;
    width:320px
   
}
#age button{
    top:150px;
    left:34px;
    width: 230px;
    border-radius: 50%;
    border:none;
    height:230px;
    background-color:#FF6699;
    font-size:25px;
    color:white;
    font-family: 'Gloria Hallelujah', cursive;

  
}
.height_gender{
    background-color:#6699FF;
}


/*weight and height*/
.height{
    position:relative;
    top:150px;
}
.weight{
    position:relative;
    top:200px;
}

#status_submit{
    top:120px;
    left:150px;
    width: 230px;
    border-radius: 50%;
  
    height:230px;
    background-color:#4a1484;
    font-size:25px;
    color:white;

}
.height_Weight{
    background-color: #a7ffeb;

}
/*summury*/
#signup_submit{
    position:relative;
    top:140px;
    left:40px;
    text-align:center;
    color:black;
    background-color:white;
    border-style: dashed;
}
.signupForm{
    background-image: url("img/signup.jpg");
}
#signup_submit{
    position:relative;
    top:160px;
    text-align:center;
    border-style: dotted;
    left:70px;
    width: 230px;
    border-radius: 50%;
    height:230px;
    font-size:25px;
    color:black;
    background-color:white;
}
#calories {
    position: relative;
    top:10px;
    background-color:transparent;
    width:0px;
    left:10px;
    font-family:'Capriola', cursive;
    font-size:20px;
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
    

}
#box{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius:20px;
    margin:10px;
    height:95%;
    width:100%; 
}
#calorie_layer{
    position:relative;
    left:px;
    top:420px;
    height:60px;
    width:95%;
    border-radius:20px;
    box-shadow: 0px 0px 15px #888;
    background-color: rgba(0, 0, 0, 0.7);

 }
.profile{
   
    background-image:url("img/profile.jpg");
    background-size:410px 670px
}

.profile #date{
    border:0px;
}
.cal{
    text-align:right;
     width:130px;
}

#breakfast_button{
    width:100px;
    font-size:10px;

}
#meal_layer{
    position:relative;
    background-color: rgba(0, 0, 0, 0.5);
     border-radius:20px;
     box-shadow: 0px 0px 15px #888;
     top:90px;
     width:95%;
     height:220px

}
#meals{
    height:200px;
    padding:20px;
    left:10px;
    margin:5px;
    font-family:'Capriola', cursive;
    font-size:25px;
}

.profile .list a{
    background-color:transparent; 
    position:relative;
    top:4px;
    left:5px;
    border-style:none;
    font-family:'Capriola', cursive; 
    font-size:25px;
    color:white; 
    
}
#breakfast_button{
    position:relative;
    top:-55px;
    font-size:20px;
    width:inherit;
    background-color:transparent;
    color:white;
    border-style:none;
    margin-left:30px;
    margin-bottom:-30px;
    font-weight:bold;
}
#lunch_button{
    position:relative;
    top:-55px;
    font-size:20px;
    width:inherit;
    background-color:transparent;
    color:white;
    border-style:none;
    margin-left:30px;
    margin-bottom:-30px;
    font-weight:bold;s
}
#dinner_button{
    position:relative;
    top:-55px;
    font-size:20px;
    width:inherit;
    background-color:transparent;
    color:white;
    border-style:none;
    margin-left:30px;
    margin-bottom:-30px;
    font-weight:bold;s
}
#snack_button{
    position:relative;
    top:-55px;
    font-size:20px;
    width:inherit;
    background-color:transparent;
    color:white;
    border-style:none;
    margin-left:30px;
    margin-bottom:-20px;
    font-weight:bold;s
}
#weight{
    position: relative;
    font-size:15px;
   top:10px;
    width:350px;
    left:10px; 
    font-family:'Capriola', cursive; 
    font-size:20px;  
    color:white;
    border-radius:10px;
    
     height:50px;
   
  
}
#weight_layer{
    position:relative;
    top:-250px;
    left:px;
    height:60px;
    border-radius:20px;
    color:white
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px #888;
    background-color: rgba(0, 0, 0, 0.6);
    width:95%;
}
#setting{
    font-family: 'Gloria Hallelujah', cursive;
    border-radius:50px;
    background-color:transparent;
    color:white;
    height:50px;
    border-style:dashed;
    box-shadow: 0px 0px 15px #888;
    background-color: rgba(0, 0, 0, 0.6);
}
/****Breakfast**/
#title_layer{
    position:relative;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px #999;

 
    top:60px;
    left:10px;
    width:340px;
    border-radius:20px;
    height:80px;
    padding: 0 25px;
    text-align: center;
    line-height: 30px;

}
#title_layer p {
    font-size: 25px;
}

#layer{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:20px;
    margin:10px;
    height:95%;
    width:95%;
}
#breakfast {
    background-image: url("img/breakfast.jpg");
   
}
#search_layer{
    position:relative;
    background-color: rgba(0, 0, 0, 0.5);
     box-shadow: 0px 0px 15px #999;
    border-radius:10px;
    top:70px;
    left:10px;
    width:340px;

}
.button{
     background-color: rgba(0, 0, 0, 0.5);
     box-shadow: 0px 0px 15px #999;
}
#breakfast #what_to_eat{
    position:relative;
    top:10px;
    color:white;
    background-color:transparent;
}
label{
    border:none;
    background-color:transparent;

    left:30px;

}

#food input{
   background-color:transparent;
   border-bottom:1px solid white;
   width:100px;
    color:white;
    font-family:'Capriola', cursive; 
    font-size:20px;

}
#food label{
   background-color:transparent;
   border:none;
  
}
#food .input-label{
    color:white;
    font-family:'Capriola', cursive; 
    font-size:25px; 
}
#food_layer button{
    position:relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:10px;
    top:70px;
    height:20px;
    color:white;
    width:340px;
    margin:10px;
    border-style:none;
}
/*****
/*******nutrition*********/
/*.button{
    position:relative;
    left:285px;
    border-radius:200px;
    width:150px;
    height:150px;
    text-align:left;
    background-color:transparent;
}*/
.info, p{
   color: white;
   position:relative;
   top:50px;
   font-family:'Capriola', cursive;
   font-size:25px;

}
.info, div{
    color:white;
    
}
.nutrition{
    background-image: url("img/bg6.jpg");
    background-size:550px 700px;
}
#info{

     background-color: rgba(0, 0, 0, 0.5);
     box-shadow: 0px 0px 15px #999;
     height:600px;
     width:350px;
     margin:10px;
     border-radius:10px;
     text-align:center;
    
}
.nutrition_info{
    position:relative;
    top:60px;
    left:30px;
    font-size:20px;
}
.nutrition_info,.number{
    text-align:right;
    margin:20px;
    padding:10px;
}
.nutrition_info,macro{
    text-align:left;
    maring:20px;
    padding:10px;
}
#addFood{
    position:relative;
    top:200px;
    font-family:'Capriola', cursive;
    font-size:20px;
}

