/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
#login{
    position:relative;
    top:600px;
    left:3px;
}
#signup{
    position:relative;
    top:600px;
    left:227px;
}