 <ion-view title="activity"  ng-controller="activityCtrl" class='weight_activity'>
     <p id='weight_title'>My Goal Weight</p>
     <p id='weight_range'> Your ideal weight is {{idealWeight}}lbs, please set your goal weight </p>
	     
	     <label id="setWeight" class ="item item-input">
	        <span class="input-label" >Goal Weight</span>
	        <input type="numbers" >
		</label>
		<button class="button button-stable button-block" id="goalweight_submit" ng-click="setCalorieBudget()">Set My</br>Calorie Budget</button>
     
            	
	
 </ion-view>