 <ion-view title="name"  ng-controller="mainCtrl" class="goalPage"
  <ion-content>
        <button  id="cancel" class="button button-clear button-light">
            Cancel
        </button>
        <h4 id='title'>My Goal</h4>
        <h3 id='quote'>If it doesn't challenge you, it doesn't change you.</p>
        <div id="goal_input">
            
                
                <label id="weight_label" class="item item-input">
                <span class="input-label" ></span>
                <input id='goal'type="text" placeholder="Loose 20 pounds">
                </label>
                <h3 id='i_will'>I will</h3>
               
            
                <h3 id='by'>By</h3>
                <label id='date_label'class="item item-input">
                <span class="input-label" ></span>
                <input id="date" type="date" placeholder="Future Date">
                </label>
                
          
        
       
        </div>
         <button  id ='setStatus' ng-click="setStatus()">Set My Stats</button> 
        
 </ion-content>
</ion-view>