 <ion-view title="height" class="has-header has-subheader" ng-controller="mainCtrl">
            <ion-content padding="true">
            	<div class='height'>
            		<h3>How tall are you?</h3>
                    <label class="item item-input">
                        <input type="text" placeholder="enter height" ng-model="height">
                    </label>
                </div>
                <div class='weight'>
                    <h3>How much do you weigh?</h3>
                     <label class="item item-input">
                         <input type="text" placeholder="weight lbs" ng-model="weight">
                    </label>
                    <button class="button button-stable button-block" ng-click="setWeightHeight(height,weight)">
                     Submit
                    </button>
            	</div>
            	
		  		
               
            </ion-content>
 </ion-view>