 <ion-view title="height" class="stats" ng-controller="mainCtrl">
    
    	
    	<h3>My Stats</h3>
        <h4> Your present circumstances don't determine where you can go;
            they merely determine where you start</h4>
            
        
        <div class='status_input'>
            
                <label class="item item-input">
                <span class="input-label" >Current Weight</span>
                <input type="numbers" >

                </label>
                
            
                <label class="item item-input">
                <span class="input-label" >Height</span>
                    <input type="numbers" >
                </label>
             
           
                <label class="item item-input">
                <span class="input-label" >Gender</span>
                <input type="numbers" >
                </label>
               
           
                <label class="item item-input">
                <span class="input-label" >Birthdate</span>
                <input type="date" >
                </label>
                
            
                 <button class="button button-stable button-block" id="status_submit" ng-click="setGoalWeight()">Set My Goal</br>Weight</button>
    	</div>

            	
		  		
        
 </ion-view>