<ion-view title="localAuth" ng-controller="localAuthCtrl">
<div class="row row-center" id = 'email'>
  <div class="col">
    <h2 class="text-center"></h2>

    <div class="padding-top">
        <label class="item item-input">
          <span class="input-label" >Email</span>
          
          <input type="text" ng-model='email'>
        </label>
        <h1>{{email}}</h1>
          <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model='password'>
        </label>
        <h1>{{password}}</h1>
        <button class="button button-block button-stable" ng-click='Login(email,password)'>
                     Submit
                    </button>
    </div>
  </div>
</div>