 <ion-view title="gender" class="has-header has-subheader" ng-controller="genderCtrl">
            <ion-content padding="true">
            	<div class='gender'>
            		<p>Please select your gender:</p>
            	</div>
            	
		  		<button class="button button-dark" id="male" ng-click="setMale()">
      			Male
    			</button>
                <button class="button button-dark" id="female" ng-click="setFemale()">
                Female
                </button>
                <button class="button button-dark" id="female" ng-click="getData()">
                Fetch data from db
                </button>
            </ion-content>
 </ion-view>