 <ion-view title="height" class="has-header has-subheader" ng-controller="heightCtrl">
            <ion-content padding="true">
            	<div class='height'>
            		<p>Please enter your height:</p>
                    <label class="item item-input" id='username'>
                    <input type="text" placeholder="enter height" ng-model="user_height">
                     </label>
                    <button class="button button-dark" id="name_submit" ng-click="setHeight(user_height)">
                     Submit
                    </button>
            	</div>
            	
		  		
               
            </ion-content>
 </ion-view>