<!-- www/templates/login.html -->
<div class="row row-center">
  <div class="col">
    <h2 class="text-center">Welcome to YummyDiet</h2>

    <div class="padding-top">
      <button class="button button-block button-calm" ng-click="twitter()">
        <i class="icon ion-social-facebook"></i>&nbsp;Login with Facebook
      </button>
      <button class="button button-block button-stable">Log in</button>
      <button class="button button-block button-stable">Sign up with email</button>
    </div>
  </div>
</div>