<!-- www/templates/login.html -->
<ion-view title="gender" ng-controller="mainCtrl">
<div class="row row-center" id = 'signup'>
  <div class="col">
    <h2 class="text-center"></h2>

    <div class="padding-top">
      <button class="button button-block button-calm">
        <i class="icon ion-social-facebook"></i>&nbsp;sign up with Facebook
      </button>
     
      <button class="button button-block button-stable" ng-click= "signupEmail()">Sign up with email</button>
    </div>
  </div>
</div>