
<ion-nav-view ng-controller='signupCtrl'>
<ion-view title="signup">
	<ion-content>
     	<h1> INDISED SIGNUP</h1>
     	<div class="list">
		  <label class="item item-input">
		    
		    
		    <input type="text" placeholder="username" ng-model="username">
		    <h1>{{username}}</h1>
		  </label>
		  <label class="item item-input">
		    
		    <input type="password" placeholder="password">
		  </label>
		</div>
		<button class="button button-small" ng-click="submit()">
      		Submit
    	</button>
    
    		
    	
    	
     </ion-content>
</ion-view>
</ion-nav-view>
