 <ion-view title="summary"  class="has-header has-subheader" ng-controller="summaryCtrl">
            <ion-content padding="true">
            	<div class='summary'>
            		<p>Awesome!</p>
                    <p>Your ideal daily</p>
                    <p>calorie intake is:</p>
                    <p>{{calories}}</p>
                    <button class="button button-small" id="submit" ng-click="showBreakfast()">
                    Let's do this!
                     </button>
            </div>
                
            </ion-content>
 </ion-view>