 <ion-view title="weight"  class="has-header has-subheader" ng-controller="weightCtrl">
            <ion-content padding="true">
            	<div class='weight'>
            		<p>What is your current weight?</p>
                    <label class="item item-input" id='curr_weight'>
                    <input type="text" placeholder="current weight" ng-model="curr_weight">
                    </label>
                    <p>What is your ideal weight?</p>
                    <label class="item item-input" id='idealweight'>
                    <input type="text" placeholder="ideal weight" ng-model="ideal_weight">
                    </label>
            	</div>
                <button class="button button-small" id="weight_submit" ng-click="getWeight(curr_weight,ideal_weight)">
      			Submit
    			</button>
            </ion-content>
 </ion-view>