<ion-view title="profile" class="profile">


<div id = "box">
    <button id="setting">Setting </button>
    <div id ="calorie_layer">
        <table id='calories'>
        <tr>
            <td>Cal Remaining:</td>
            <td>Cal Consumed:</td>
        </tr>
        <tr>
            <td>{{remainingCal}} cal</td>
            <td>{{consumedCal}} cal</td>
        </tr>
        </table>
    </div>
    <div id="meal_layer">
        <div class="list" id="meals" >
            <table id='meals'>
        <tr>
            <td style="color:white"><i class="icon ion-coffee" ></i>
                <button class="button button-stable button-block" id ="breakfast_button"  ng-click="searchMeal(0)">Breakfast</button></td>
                
            <td class="cal" style="color:#baffc9">{{breakfastCal}} cals</td>
        </tr>
        <tr>
             <td style="color:white"><i class="icon ion-pizza" ></i>
                <button class="button button-stable button-block" id ="lunch_button"ng-click="searchMeal(1)">Lunch</button></td>

            <td class="cal" style="color:#baffc9">{{lunchCal}} cals</td>
        </tr>
        <tr>
             <td style="color:white"><i class="icon ion-beer" ></i>
                <button class="button button-stable button-block" id ="dinner_button"ng-click="searchMeal(2)">Dinner</button></td>
            <td class="cal" style="color:#baffc9">{{dinnerCal}} cals</td>
        </tr>
        <tr>
             <td style="color:white"><i class="icon ion-icecream" ></i>
                <button class="button button-stable button-block" id ="snack_button"ng-click="searchMeal(3)">Snack</button></td>
            <td class="cal" style="color:#baffc9">{{snackCal}} cals</td>
        </tr>
        </table>

        </div>
    </div>
    <div id="weight_layer"> 
        <table id='weight'>
            <tr>
                <td>current weight:</td>
                <td>goal weight:</td>
            </tr>
            <tr>
                <td>{{currWeight}} lbs</td>
                <td>{{goalWeight}} lbs</td>
            </tr>
        </table>
    </div>
    

</div>

    
    
</ion-view>