

<ion-view title="localAuth" ng-controller="AuthCtrl" class="signupForm">s
        <div id = "stats_layer">
        <div id = "berry_layer">
        <h3>Sign Up</h3>
        <h4>You are one step away from starting a new journey</h4>
            
        <div id="input_layer">
        <div class='_input'>
                 <form novalidate class="simple-form">
                  username: <input id ="username" type="text" "style=width:100px" ng-model = "user.username" />
                  email: <input id="email" type="text" ng-model = "user.email" />
                  password: <input id="password" type="text" ng-model = "user.password"/>
                  </form>

        </div>
        </div>
         <button class="button button-stable button-block" id="signup_submit" ng-click="postUserInfo(user)">Signup</button>


         </div>
      

              
</div>        

 
</ion-view>