 <ion-view title="breakfast" class="has-header has-subheader" ng-controller="mealCtrl" id="breakfast" >
   <div id="layer">
      <div id='title_layer'>
         <p id="what_to_eat">What would you like to eat?</p>
      </div>
      <div id="search_layer">
         <form ng-submit="search(meal)" id='food'> 
                  <label class="item item-input">
                  <span class="input-label"> enter food:</span>
                  <input type="text" ng-model="meal">
                  </label>
         </form>  
      </div>
      <div id='food_layer'>
         <div ng-repeat = 'item in names'>
              <button class="button" ng-click ="getNutrition(item)">
               {{item}}
               </button>
         </div>
      </div>
             
     

   </div>

		 
 </ion-view>