 <ion-view title="breakfast" class="has-header has-subheader" ng-controller="mealCtrl">
          
            <!-- 
            	<div class='breakfast'>
            	<p>recommended calorie intake:</p>
            	<p>calories so far: {{calorieSum}}</p>
            	<p>Please choose your breakfast:</p>

            	<button class="button button-dark button-block" ng-repeat='item in meals' ng-model='item' ng-click='selectMeal(item)'>
            		{{item.name}}:
            		{{item.calories}} kcal
      			</button>
            	</div>

 -->  <div> 
            <p>What would you like to eat?</p>
      </div>
      <div>
            <form ng-submit="search(meal)"> 
                  <label class="item item-input">
                  <span class="input-label"> enter food:</span>
                  <input type="text" ng-model="meal">
                  </label>
                  <p>{{meal}}</p>
            </form>
            
      </div>
      <div ng-repeat = 'item in names'> {{item}}</div>
                        
                 
             
            	<!-- <div class="list list-inset">
                        <label class="item item-input">
                              <i class="icon ion-search placeholder-icon"></i>
                              <input type="text" placeholder="Search" ng-model='breakfast' ng- >
                        </label>
                        <h1>{{breakfast}}</h1>
                  </div> -->
		 
 </ion-view>