<ion-view title="nutrition" ng-controller="nutritionCtrl" class="nutrition">
  <div id='info'> 

    <p>{{name}}</p>
    <div class="nutrition_info" ng-repeat ="nutrient in nutrients">
    	<tr>
            <td class="macro" style="color:white">{{nutrient.nutrient}}:</td>
            <td class="number" style="color:#baffc9"> {{nutrient.value}} {{nutrient.unit}}</td>
        
        </tr>
    	<!-- <p>{{nutrient.nutrient}}  {{nutrient.value}} {{nutrient.unit}}</p> -->
    </div>
  </div>
</ion-view>